body {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MuiTextField-root {
  font-size: "48px";
}
.dark {
  background: #000;
  color: #fff;
}
.some {
  font-size: 27px;
  border: 2px solid #000;
  color: red;
}
.error {
  color: red;
  font-size: 2em;
}



.color{
  color: red;
}

.font{
  font-size: 45px;
}